/*div {
  border: 1px solid red;
}*/
html {
  font-size: 18px;
  font-family: Helvetica;
  background-color: black;
}
body {
  margin: 0;
  background-color: white;
}
.header {
  display: flex;
  justify-content: center;
  height: 2.32rem;
  margin-top: 0;
  padding-top: 0;
  background-color: black;

}
.container {
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .container {

  background-color: black;
  color: white;

}
.container img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;

}

.banner {
  background-image: url("../../resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: auto;
  display: flex;
  justify-content: center;

}
.message {
  width: 20rem;
  margin-top: 9rem;
  background-color: black;
  color: white;

}
.message h4 {
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.message h1 {
  margin-top: 0;
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: bold;
}
.navigation {
  display: flex;
  justify-content: center;
  align-content: space-between;
  background-color: firebrick;
}
.navigation .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: firebrick;
  color: white;
}
.menu {
  display: none;
}
/* items */
.items {
  display: flex;
  justify-content: center;
  background-color: white;
}
.items .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* items */
.frame {
  width: 30%;
  text-align: center;
  color: white;
  border: 4px solid black;
  margin-top: 3rem;
}
.image {

 display: flex;
 justify-content: center;
 align-items: center;
padding: 2rem 1rem;
}
.image img {
  height: 9rem;
  border: 1px solid white;

}
.image-glasses {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.1rem;
  padding: 2rem 1rem;


}
.image-glasses img {
  width: 8rem;
  border: 1px solid white;
}

.info {
  background-color: black;
  padding: 0.5rem 0;
}
/* about */
.about {
  display: flex;
  justify-content: center;
  color: white;
  background-color: white;

}
.about .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about .container div {
  width: 35%;
  background-color: black;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
span {
  padding-left: 2rem;
}
/* footer */
.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 5rem;
  margin-top: 4rem;
  color: white;
}
/* Tablet formatting */
@media only screen and (max-width: 1024px) {

  .frame-glasses, .image-glasses, .info-glasses {
    display: none;
  }
  .frame {
    width: 47%;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .about .container div {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .navigation .container div {
    display: none;
  }
  .menu {
    display: inline;
  }
  .navigation .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
/* Phone formatting */
@media only screen and (max-width: 470px){
  .frame-watch, .image-watch, .info-watch {
    display: none;
  }
  .frame {
    width: 100%;
    margin: 2rem;
  }
  .about .container {
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
  }
  .footer .container {
    display: flex;
    justify-content: center;


}
